* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

/* estilos de header  */
#header {
  background-color: transparent;
}

#icons-div {
  display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

#logo-img {
  width: 65px;
  height: 65px;
  margin-left: 25px;
}

#app-name {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#notification-icon {
  margin-right: 20px;
  width: 55px;
  height: 55px;
}


/* estilos de lista de cards horizontal */
#card-list {
  display: flex;
}

/* estilos do card */
.card {

}

.card img {
  width: 200px;
  height: 200px;
  border-radius: 10%;
}

/* estilos de lista vertical de games */
#game-list {
  display: flex;
  flex-direction: column;
  background-color: blueviolet;
}

.game {
  
}

.game img {

}

.game h3 {

}


/* estilos de appbar */
#appbar {
  background-color:limegreen;
  height: 140px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

#appbar button {

}
