* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

/* estilos de header  */
#header {
  background-color: orangered;
}

#header div {
  display: flex;
}


/* estilos de lista de cards horizontal */
#card-list {
  display: flex;
}

/* estilos do card */
.card {

}

.card img {
  width: 200px;
  height: 200px;
  border-radius: 10%;
  
}

/* estilos de lista vertical de games */
#game-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.game {
  width: 90vw;
  height: 89px;
  border-radius: 10px;
  padding: 11px;
  overflow: hidden;
  background: linear-gradient(45deg, #77c642, #627557);
  display: flex;
}

.game img {
  width: 68px;
  height: 68px;
}

.game h2 {
  margin-left: 15px;
}

.game div{
  position: absolute;
  right: 8vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.game button{
  width: 80px;
  height: 34px;
  text-transform: uppercase;
  background-color: #ff0000c9;
  border-radius: 20px;
  
}


/* estilos de appbar */
#appbar {
  background-color:limegreen;
  height: 140px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

#appbar button {

}
