* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

/* estilos de header  */
#header {
  background-color: transparent;
}

#icons-div {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

#logo-img {
  width: 65px;
  height: 65px;
  margin-left: 25px;
}

#app-name {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#notification-icon {
  margin-right: 20px;
  width: 55px;
  height: 55px;
}

#categories-names {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: transparent;
  padding: 20px;
}

#buttons {
  display: flex;
  gap: 5px;
  margin-left: 10px;
}
#category-button {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #e7385b;
  color: #fff;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* estilos de lista de cards horizontal */
#card-list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  overflow: scroll;
  width: 100%;
  margin: 2rem auto;
  padding: 0 1rem;
}

#card-list::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

#card-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

#card-list::-webkit-scrollbar-thumb {
  background: purple;
}

/* estilos do card */
.card {
}

.card img {
  height: 185px;
  width: 298px;
  border-radius: 19px;
  cursor: pointer;
  object-fit: cover;
}

/* estilos de lista vertical de games */
#game-list {
  display: flex;
  flex-direction: column;
  background-color: blueviolet;
}

.game {
}

.game img {
}

.game h3 {
}


/* Alterações pensando no #appbar, pode ser alterado futuramente. */

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  /* max-width: 100%; */
  /* margin: 0 auto; */
}

nav {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #e94423;
  border-radius: 60px 60px 0 0;
  box-shadow: rgb(50 50 93 / 25%) 0 50px 100px -20px,
    rgb(0, 0, 0 / 30%) 0 30px 60px -30px;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav :where(li, a) {
  position: relative;
}

nav ul li div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  padding: 1em;
  font-size: 1.25em;
  line-height: 1.4;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

/* Cor quando passa o mouse no nav bar */
nav ul li div:hover {
  color: rgb(255, 255, 255);
}

/* Tamanho da letra do nav bar */
nav ul li div span {
  font-size: 20px;
}

#appbar button {
}

/* QUIZ */

#quiz-question {
  text-align: center;
}

#quiz-answers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

#quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: lightblue;
}

#btn-quiz-next {
  outline: none;
  border: none;
  width: 50%;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #e7385b;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

#btn-quiz-next:hover {
  background-color: #d62c4e;
  border: 1px solid #e94423;
}

#btn-quiz-next:disabled {
  background-color: #ccc;
  color: #fff;
  cursor: not-allowed;
}

.answer {
  padding: 1rem;
  border-radius: 1rem;
  background-color: #e7385b;
  color: #fff;
  cursor: pointer;
  transition: all 0.8s;
  width: 50%;
}

.answer:hover {
  background-color: #c91d3f;
  border: 1px solid #e94423;
}
